In [1]:
dataset=[
    ['milk','onion','beans'],
    ['milk','onion'],
    ['onion','eggs','yogurt']
]

In [2]:
dataset

[['milk', 'onion', 'beans'], ['milk', 'onion'], ['onion', 'eggs', 'yogurt']]

In [3]:
import pandas as pd

In [4]:
from mlxtend.frequent_patterns import fpgrowth

In [5]:
from mlxtend.preprocessing import TransactionEncoder

In [6]:
te=TransactionEncoder()

In [7]:
te_array=te.fit(dataset).transform(dataset)

In [8]:
te_array

array([[ True, False,  True,  True, False],
       [False, False,  True,  True, False],
       [False,  True, False,  True,  True]])

In [9]:
df=pd.DataFrame(te_array,columns=te.columns_)

In [10]:
df

   beans   eggs   milk  onion  yogurt
0   True  False   True   True   False
1  False  False   True   True   False
2  False   True  False   True    True

In [11]:
fpgrowth(df,min_support=0.60)

    support itemsets
0  1.000000      (3)
1  0.666667      (2)
2  0.666667   (2, 3)